*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Nunito sans" sans-serif;
}

nav {
  position: fixed;
  width: 100%;
  height: 70px;
  background: linear-gradient(to bottom, #333, #626262);
  z-index: 10;
}

.list-nav {
  background: linear-gradient(to bottom, #333, #626262);
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  list-style-type: none;
  z-index: 25;
}
.item-nav {
  display: flex;
  align-items: center;
}
.item-nav a {
  font-size: 22px;
  text-transform: uppercase;
  margin: 0 20px;
  color: #fff;
  text-decoration: none;
}
.item-nav a::after {
  content: "";
  width: 0;
  height: 2px;
  margin: 0 auto;
  border-radius: 5px;
  background: #ccc;
  display: block;
  transition: width 0.2s ease-in-out;
}
.item-nav a:hover::after {
  width: 100%;
}
.burger {
  background: white;
  border-radius: 50%;
  position: fixed;
  right: 20px;
  top: 15px;
  display: none;
}
#menu {
  font-size: 1.5rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
/* *********************Accueil********************** */
.accueil {
  width: 100%;
  height: 100vh;
  min-height: 970px;
  background: url(./ressources/accueil-pic-lum-down.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  border-bottom: 1px dotted #777;
  padding-top: 1px;
}
.logo-bengazi {
  width: 180px;
  border-radius: 50%;
  display: block;
  margin: 179px auto 0;
}
.accueil h1 {
  text-align: center;
  font-size: 100px;
  text-shadow: 0 0 10px #000;
  color: #fff;
  margin-top: 10px;
  font-family: "Merienda", cursive;
}
.accueil .sous-titre {
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  margin: 5px 0;
  text-shadow: 0 0 10px #000;
}
.btn-accueil {
  border-radius: 9999px;
  background: crimson;
  border: 1px solid #333;
  color: #fff;
  display: block;
  width: 200px;
  height: 70px;
  line-height: 70px;
  font-size: 22px;
  text-align: center;
  margin: 25px auto;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}
.btn-accueil:hover {
  background: rgb(177, 0, 36);
  color: #fff;
}
/* ******************Media queries***************************** */
@media screen and (max-width: 700px) {
  .burger {
    display: block;
  }
  .list-nav {
    display: none;
    flex-direction: column;
    padding-top: 70px;
    height: auto;
    /*position: relative;*/
  }
  .item-nav {
    height: 70px;
    justify-content: center;
  }
  .list-nav.active {
    display: block;
  }
  .list-nav.mobile {
    display: none;
  }
}
@media screen and (max-width: 650px) {
  .accueil {
    height: 650px;
    min-height: auto;
  }
  .logo-bengazi {
    margin: 120px auto 0;
  }
  .accueil h1 {
    font-size: 60px;
  }
  .sous-titre {
    font-size: 23px;
  }
  .btn-accueil {
    width: 120px;
    line-height: 50px;
    height: 50px;
    font-size: 18px;
    margin: 15px auto 0;
  }
}
@media screen and (max-width: 400px) {
  .accueil {
    height: 500px;
  }
  .logo-bengazi {
    margin: 100px auto 0;
    width: 150px;
  }
  .accueil h1 {
    font-size: 30px;
  }
  .sous-titre {
    font-size: 21px;
  }
  .btn-accueil {
    width: 110px;
    line-height: 40px;
    height: 40px;
    font-size: 15px;
  }
  .logo-bengazi {
    top: 15px;
    width: 70px;
  }
}
/* ******************Section visite************** */
.container-visites {
  width: 80%;
  margin: auto;
  text-align: center;
  padding-top: 80px;
  min-height: 1100px;
}
.container-visites h2 {
  font-size: 2.5rem;
}
.container-visites h2 + p {
  font-size: 1.2rem;
  margin-bottom: 0;
}
.container-visites h2,
p {
  text-align: center;
  padding-top: 40px;
}
.row-visites {
  display: flex;
  margin-top: 3%;
  justify-content: space-between;
  padding: 2%;
}
.col {
  flex-basis: 30%;
  background: #fff;
  border-radius: 12px;
  margin-bottom: 5%;
  box-sizing: border-box;
  transition: 0.4s;
  position: relative;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.5s;
}
.col img {
  width: 100%;
  max-height: 200px;
  border-radius: 12px;
}
.col h3 {
  text-align: center;
  font-weight: 700;
  margin: 10px 0;
  text-shadow: 0 0 10px #fff;
  font-size: 1.3rem;
}
.col p {
  padding: 10px 20px;
}

.col:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
.btn-visites {
  border-radius: 10px;
  background: crimson;
  border: none;
  outline: none;
  color: #fff;
  display: block;
  width: 170px;
  height: 50px;
  line-height: 50px;
  font-size: 22px;
  margin: 15px;
  text-align: center;
  /* margin: 25px auto; */
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}
.btn-visites:hover {
  background: rgb(177, 0, 36);
  color: #fff;
}
@media screen and (max-width: 650px) {
  .row-visites {
    flex-direction: column;
    padding: 3%;
  }
}
@media screen and (min-width: 651px) and (max-width: 900px) {
  .row-visites {
    flex-direction: column;
    padding: 4%;
  }
  .burger {
    display: block;
  }
  .list-nav {
    display: none;
    flex-direction: column;
    padding-top: 70px;
    height: auto;
    /*position: relative;*/
  }
  .item-nav {
    height: 70px;
    justify-content: center;
  }
  .list-nav.active {
    display: block;
  }
  .list-nav.mobile {
    display: none;
  }
}
@media screen and (min-width: 901px) and (max-width: 1200px) {
  /*
  .row-visites {
    flex-wrap: wrap;
    height: auto;
  }
  */
}

/* SECTION PARALLAX */
.parallax {
  width: 100%;
  height: 400px;
  background: url(./ressources/parallax-large-flou.jpg);
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.parallax p {
  font-size: 3rem;
  color: white;
}
.parallax span {
  color: white;
  font-size: 25px;
  display: block;
}
/************SECTION AVIS*************/
.container-avis {
  width: 70%;
  margin: auto;
  padding-top: 80px;
  text-align: center;
}
.container-avis h1 {
  margin-bottom: 30px;
}
.row-avis {
  display: flex;
  justify-content: space-between;
}
.col-avis {
  display: flex;
  flex-direction: column;
  flex-basis: 30%;
  border-radius: 5px;
  margin-bottom: 5%;
  text-align: center;
  background: #fff;
  padding: 30px;
  box-shadow: 0 0 4px 0 #000;
}
.col-avis img {
  height: 50px;
  width: 50px;
  margin: auto;
  border-radius: 50%;
  text-align: center;
  border: 1px solid #eee;
  outline: none;
}
.col-avis .star {
  text-align: center;
  padding-right: 20px;
  color: crimson;
  margin-top: 5px;
}
.col-avis h4 {
  color: #333;
  margin-top: 5px;
}

@media screen and (max-width: 750px) {
  .row-avis {
    flex-direction: column;
  }
}
@media screen and (min-width: 751px) and (max-width: 1200px) {
  .row-avis {
    flex-direction: column;
  }
}
/* Section contact */
.section-contact {
  padding-top: 100px;
}
.section-contact h2 {
  text-align: center;
  color: #333;
  font-size: 48px;
  font-weight: 400;
  margin-bottom: 50px;
  padding: 70px 0 0 0;
}
.container-form {
  margin: 0 auto;
  width: 70%;
}
.form-group {
  position: relative;
  margin-bottom: 45px;
}
.form-group label {
  color: #aaa;
  font-size: 20px;
}
.form-group input {
  display: block;
  width: 100%;
  padding: 10px 0;
  border: none;
  outline: none;
  background: none;
  border-bottom: 3px solid #aaa;
  color: #666;
  font-size: 20px;
}
textarea {
  width: 100%;
  height: 200px;
  border: none;
  outline: none;
  border: 3px solid #aaa;
  border-radius: 3px;
  padding: 5px;
  resize: none;
  font-size: 20px;
  background: #fff;
}
.form-group:nth-child(4) {
  margin-bottom: 25px;
}
.form-group .button-sub {
  display: block;
  width: auto;
  border: none;
  padding: 15px 60px;
  border: 3px solid rgb(144, 144, 144);
  border-radius: 9999px;
  background-image: linear-gradient(
    to right,
    transparent 50%,
    rgb(65, 65, 65) 50%,
    rgb(134, 134, 134)
  );
  background-size: 200%;
  color: #333;
  font-size: 24px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
}
.form-group .button-sub:hover {
  color: #fff;
  background-position: 100%;
  border: 3px solid #333;
}
/* Footer */
footer {
  border-top: 1px solid #333;
  width: 100%;
  text-align: center;
  padding: 10px 0;
}
footer p {
  font-weight: 700;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 10px;
  box-sizing: border-box;
}
